.arrangePlanbox{
	width:100%;
}
.col_del{
	width:10%;
}
.col_type{
	width:8%;
}
.col_provider{
	width:15%;
}
.col_time{
	width:20%;
}
.col_timefram1{
	width:12%;
}
.col_timefram2{
	width:8%;
}
.col_urgency{
	width:10%;
}
.col_comment1{
	width:5%;
}
.col_comment2{
	width:20%;
}
